<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
            bs-dropdown="dropdownMenuOptions" placement="bottom-right" html="true">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">Gearpump
      <span class="label label-primary"
            ng-bind="version"></span>
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" bs-navbar>
      <li data-match-route="/cluster"><a href="#/cluster">
        <span class="glyphicon glyphicon-th-large"></span>
        Cluster</a>
      </li>
      <li data-match-route="/apps"><a href="#/apps">
        <span class="glyphicon glyphicon-tasks"></span>
        Applications</a></li>
    </ul>

    <!-- User Icon and Logout Links -->
    <ul class="dropdown nav navbar-nav pull-right">
      <li style="margin-left: 0px; margin-right: 0px">
      <a class="dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        {{username}}
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{{loginUrl}}">Sign out</a></li>
      </ul>
      </li>
    </ul>

    <!-- Doc Link and Source Repo Link -->
    <ul class="nav navbar-nav pull-right">
      <li ng-repeat="item in links track by $index">
        <a href="{{item.href}}" target="_blank">
          <span class="{{item.icon}}"></span>
          {{item.text}}
        </a>
      </li>
    </ul>
  </div>
</nav>
