<div class="row">
  <div class="col-md-2" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
      <ul class="nav bs-docs-sidenav">
        <li><a href="#/cluster/master">Master</a></li>
        <li class="active"><a href="#/cluster/workers">Workers</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-md-10" role="main">

<h4>Worker Instances</h4>
<h6>Total: {{workers.length}}</h6>
<table class="table table-striped table-hover">
  <caption></caption>
  <tbody>
  <tr ng-repeat="worker in workers track by $index|orderBy: 'hostname'">
    <td>
      <table class="table-complex-details">
        <tr>
          <td>Status</td>
          <td>
            <span ng-class="'label-'+statusClass(worker.status,'success','default')"
                  class="label" ng-bind="worker.status"></span>
          </td>
        </tr>
        <tr>
          <td>Up Time</td>
          <td><span ng-bind="worker.aliveFor|duration"></span></td>
        </tr>
        <tr>
          <td>Slots</td>
          <td>
            <div style="width:140px;">
              <span class="small pull-left" ng-bind="worker.slots.used + '/' + worker.slots.total"></span>
              <span class="small pull-right" ng-bind="worker.slots.usage + '%'"></span>
            </div>
            <div class="progress progress-tiny" style="width:140px;">
              <div ng-class="'progress-bar-'+slotsUsageClass(worker.slots.usage,'blue','yellow','red')"
                   ng-style="{width:worker.slots.usage + '%'}" aria-valuenow="{{worker.slots.usage}}"
                   aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Executors</td>
          <td>
            <span ng-bind="worker.executors.length"></span>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table class="table-complex-details">
        <tr>
          <td>Actor Path</td>
          <td>
            <span ng-bind="worker.actorPath"></span>
          </td>
        </tr>
        <tr>
          <td>ID</td>
          <td>
            <span ng-bind="worker.id"></span>
          </td>
        </tr>
        <tr>
          <td>Directories</td>
          <td>
            <span class="label label-default" bs-tooltip="worker.homeDir">Home Dir</span>
            <span class="label label-default" bs-tooltip="worker.logDir">Log Dir</span>
          </td>
        </tr>
        <tr>
          <td>Quick Links</td>
          <td>
            <a href="{{worker.configLink}}" target="_blank">Configuration</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>

  </div>
</div>