language:
- scala
sudo: required
dist: trusty
jdk:
- oraclejdk8
scala:
- 2.12.7
cache:
  directories:
  - $HOME/.m2/repository
  - $HOME/.sbt
  - $HOME/.ivy2
git:
  depth: 1
script:
- echo "TRAVIS_PULL_REQUEST" $TRAVIS_PULL_REQUEST
- echo "TRAVIS_BRANCH" $TRAVIS_BRANCH
- echo "TRAVIS_TAG" $TRAVIS_TAG
- echo "repo" $TRAVIS_REPO_SLUG
- set -o pipefail; set -e; skipLogs="Resolving |Compiling |Done updating|Updating |scoverage|coverage-report";
  if [[ $TRAVIS_PULL_REQUEST != "false" || $TRAVIS_REPO_SLUG != "gearpump/gearpump" ]]; then 
    sbt -jvm-opts project/travis/jvmopts clean +assembly scalastyle test:scalastyle unidoc coverage test | grep -v -E "$skipLogs";
    sbt coverageAggregate;
  elif [[ $TRAVIS_BRANCH == "master" ]]; then
    sbt -jvm-opts project/travis/jvmopts clean +assembly +publish | grep -v -E "$skipLogs";
    sbt -jvm-opts project/travis/jvmopts scalastyle test:scalastyle unidoc coverage test  | grep -v -E "$skipLogs";
    sbt coverageAggregate;
  elif [[ $TRAVIS_TAG != "" ]]; then
    sbt -jvm-opts project/travis/jvmopts clean +assembly +packArchiveZip | grep -v -E "$skipLogs";
  fi
after_success:
- if [[ $TRAVIS_PULL_REQUEST != "false" || $TRAVIS_REPO_SLUG != "gearpump/gearpump" || $TRAVIS_BRANCH == "master" ]]; then
    bash <(curl -s https://codecov.io/bash);  
  elif [[ $TRAVIS_TAG != "" ]]; then
    set -o pipefail;
    openssl aes-256-cbc -K $encrypted_3d8d53d5fdbf_key -iv $encrypted_3d8d53d5fdbf_iv -in secring.asc.enc -out secring.asc -d;
    sbt +publishSigned sonatypeReleaseAll | grep -v -E "Resolving ";
  fi 
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: NYY003Bum6aL5h5Au8nCEY51lnDcsCErvmfzpIh0CWNY4UKnADSXkJPdureAf3OR7eMFmQxMi1rL2MQtOjlCWgaPO4TmEJrXB3vMZTTyj1COst5WIQV8S/BbgDzKFEP9zuRNbMXdRJqf0rEhIrKPagXkOTDaGNijmjCCh5y62M4=
  file_glob: true
  file: output/target/gearpump-*.zip  
  on:
    repo: gearpump/gearpump
    tags: true
    all_branches: true
