language:
- java
- scala
sudo: false
script:
- echo "TRAVIS_PULL_REQUEST" $TRAVIS_PULL_REQUEST
- echo "TRAVIS_BRANCH" $TRAVIS_BRANCH
- echo "TRAVIS_TAG" $TRAVIS_TAG
- echo "repo" $TRAVIS_REPO_SLUG
- set -o pipefail; skipLogs="Resolving |Compiling |Done updating|Updating |scoverage|coverage-report";
  alias sbt="sbt -jvm-opts project/travis/jvmopts";
  if [[ $TRAVIS_PULL_REQUEST != "false" || $TRAVIS_REPO_SLUG != "gearpump/gearpump" ]];
    then sbt clean coverage +test | grep -v -E "$skipLogs";
  elif [[ $TRAVIS_BRANCH == "master" ]];
    then sbt clean +publish | grep -v -E "$skipLogs"; sbt coverage +test | grep -v -E "$skipLogs";
  elif [[ $TRAVIS_TAG != "" ]];
    then sbt clean +assembly +packArchiveZip | grep -v -E "$skipLogs";
  fi  
jdk:
- oraclejdk7
scala:
- 2.11.5
cache:
  directories:
  - $HOME/.m2
  - $HOME/.ivy2
git:
  depth: 1
after_success:
- if [[ $TRAVIS_PULL_REQUEST != "false" || $TRAVIS_BRANCH == "master" || $TRAVIS_REPO_SLUG != "gearpump/gearpump" ]];
    then bash <(curl -s https://codecov.io/bash);  
  elif [[ $TRAVIS_TAG != "" ]];
    then set -o pipefail; openssl aes-256-cbc -K $encrypted_3d8d53d5fdbf_key -iv $encrypted_3d8d53d5fdbf_iv -in secring.asc.enc -out secring.asc -d; sbt +publishSigned sonatypeReleaseAll | grep -v -E "$skipLogs";
  fi 
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: NYY003Bum6aL5h5Au8nCEY51lnDcsCErvmfzpIh0CWNY4UKnADSXkJPdureAf3OR7eMFmQxMi1rL2MQtOjlCWgaPO4TmEJrXB3vMZTTyj1COst5WIQV8S/BbgDzKFEP9zuRNbMXdRJqf0rEhIrKPagXkOTDaGNijmjCCh5y62M4=
  file_glob: true
  file: output/target/gearpump-*.zip  
  on:
    repo: gearpump/gearpump
    tags: true
    all_branches: true
install:
  - mkdir travis-phantomjs
  - wget https://s3.amazonaws.com/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2 -O "$PWD"/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2
  - tar -xvf "$PWD"/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2 -C "$PWD"/travis-phantomjs
  - export PATH="$PWD/travis-phantomjs:$PATH"
