[project]
	description = Lightweight real-time big data streaming engine over Akka
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ManuZhang (manuzhang)
[access "refs/for/refs/*"]
	read = group user/ManuZhang (manuzhang)
	push = group user/ManuZhang (manuzhang)
	label-Code-Review = -2..+2 group user/ManuZhang (manuzhang)
	label-Verified = -1..+1 group user/ManuZhang (manuzhang)
	rebase = group user/ManuZhang (manuzhang)
	removeReviewer = group user/ManuZhang (manuzhang)
	submit = group user/ManuZhang (manuzhang)
[access "refs/heads/*"]
	read = group user/ManuZhang (manuzhang)
	create = group user/ManuZhang (manuzhang)
	push = +force group user/ManuZhang (manuzhang)
	pushMerge = group user/ManuZhang (manuzhang)
[access "refs/tags/*"]
	push = +force group user/ManuZhang (manuzhang)
	pushTag = group user/ManuZhang (manuzhang)
	pushSignedTag = group user/ManuZhang (manuzhang)
