<div class="col-md-8">
  <div class="panel panel-sm panel-default">
    <div class="panel-heading">DAG</div>
    <div class="panel-body">
      <div class="cm-container" id="dag-node-menu"
           bs-dropdown html="true"
           template-url="views/apps/streamingapp/popups/processor_menu.html"></div>
      <vis-network
        data="visGraph.data"
        options="visGraph.options"
        events="visGraph.events">
      </vis-network>
    </div>
  </div>
</div>

<div class="col-md-4">
  <!-- todo: maybe share the controller with metrics_charts.js -->
  <div class="panel">
    <metrics
      caption="{{sendThroughputMetricsCaption}}"
      help="{{sendThroughputMetricsDescription}}"
      value="{{currentMessageSendRate|metric}}"
      unit="msg/s"
      sub-text="Total: {{totalSentMessages|metric}}"></metrics>
  </div>
  <div class="panel">
    <metrics
      caption="{{receiveThroughputMetricsCaption}}"
      help="{{receiveThroughputMetricsDescription}}"
      value="{{currentMessageReceiveRate|metric}}"
      unit="msg/s"
      sub-text="Total: {{totalReceivedMessages|metric}}"></metrics>
  </div>
  <div class="panel">
    <metrics
      caption="{{averageMesssageProcessingTimeMetricsCaption}}"
      help="{{averageMesssageProcessingTimeMetricsDescription}}"
      value="{{averageProcessingTime|metric}}"
      unit="ms"></metrics>
  </div>
  <div class="panel">
    <metrics
      caption="{{averageMessageReceiveLatencyMetricsCaption}}"
      help="{{averageMessageReceiveLatencyMetricsDescription}}"
      value="{{averageTaskReceiveLatency|metric}}"
      unit="ms"></metrics>
  </div>
</div>