<div class="modal" tabindex="-1"
     ng-controller="StreamingAppDagEditCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" ng-click="$hide()">
          <span>&times;</span></button>
        <h4>Modify Processor {{processorId}}</h4>

        <div ng-show="shouldNoticeSubmitFailed">
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    ng-click="shouldNoticeSubmitFailed=false">
              <span aria-hidden="true">&times;</span></button>
            Failed to modify dag. The reason is {{reason}}.
          </div>
        </div>

        <form name="form">
          <div class="row" style="padding:12px 30px">
            <div ng-hide="changeParallelismOnly" class="form-group-compact-h">
              <div class="col-sm-3">
                <label for="opt1" class="control-label">Processor File</label>
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control input-sm" id="opt1" readonly
                       ng-value="filenames.jar" />
              </div>
              <div>
                <button type="button" class="btn btn-primary btn-sm"
                        ngf-select ng-model="jar" ngf-accept="'.jar'">
                  <span class="glyphicon glyphicon-folder-open"></span>
                </button>
                <button type="button" class="btn btn-sm"
                        ng-disabled="!filenames.jar" ng-click="clear('jar')">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </div>
            <div ng-hide="changeParallelismOnly"
                 class="form-group-compact-h" ng-class="{'has-error':!validTaskClass}">
              <div class="col-md-3 control-label-box">
                <label for="g15" class="control-label">New Task Class</label>
              </div>
              <div class="col-md-9">
                <input type="text" class="form-control input-sm" id="g15" ng-model="taskClass"/>
              </div>
            </div>
            <div ng-hide="changeParallelismOnly"
                 class="form-group-compact-h">
              <div class="col-md-3 control-label-box">
                <label for="g11" class="control-label">New Description</label>
              </div>
              <div class="col-md-9">
                <input type="text" class="form-control input-sm" id="g11" ng-model="description"/>
              </div>
            </div>
            <div class="form-group-compact-h" ng-class="{'has-error':!validParallelism}">
              <div class="col-md-3 control-label-box">
                <label for="g12" class="control-label">New Parallelism</label>
                <remark tooltip="The number of tasks that will be allocated by the processor"/>
              </div>
              <div class="col-md-9">
                <input type="text" class="form-control input-sm" id="g12" ng-model="parallelism"/>
              </div>
            </div>
            <div ng-hide="changeParallelismOnly"
                 class="form-group-compact-h">
              <div class="col-md-3 control-label-box"
                   ng-class="{'has-error':form.date.$invalid||form.time.$invalid}">
                <label for="g13" class="control-label">Transit Time</label>
              </div>
              <div class="col-md-3" style="padding-right:4px"
                   ng-class="{'has-error':form.date.$invalid}">
                <input type="text" size="10" class="form-control" placeholder="Date" name="date"
                       ng-model="transitDate" data-date-format="yyyy-MM-dd"
                       date-type="string" autoclose="true" id="g13" bs-datepicker/>
              </div>
              <div class="col-md-3"
                   ng-class="{'has-error':form.time.$invalid}">
                <input type="text" size="8" class="form-control" placeholder="Time" name="time"
                       ng-model="transitTime" ng-click="fillDefaultTime()" data-time-format="HH:mm:ss"
                       hour-step="-1" minute-step="-1" second-step="-1" time-type="string"
                       arrow-behavior="picker" bs-timepicker/>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm"
                ng-disabled="!canReplace()" ng-click="submit()">
          <span ng-show="uploading"
                class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;
          Change
        </button>
      </div>
    </div>
  </div>
</div>