<div class="row">
  <div class="col-md-12">
    <metrics-period-switcher
      past-hours="metricsConfig.retainHistoryDataHours"
      view-current="showCurrentMetrics">
    </metrics-period-switcher>
  </div>
</div>

<div class="row" style="margin-bottom: 22px">
  <div class="{{chartGridClass}}">
    <div class="metrics-wrapper">
      <metrics
        caption="{{sendThroughputMetricsCaption}}"
        help="{{sendThroughputMetricsDescription}}"
        value="{{currentMessageSendRate|metric}}" unit="msg/s"
        sub-text="Total: {{totalSentMessages|metric}}">
      </metrics>
    </div>
    <div ng-if="showCurrentMetrics">
      <line-chart
        options-bind="::sendThroughputChartOptions"
        datasource-bind="sendThroughputData">
      </line-chart>
    </div>
    <div ng-hide="showCurrentMetrics"
         class="metric-chart-placeholder">
      <line-chart
        ng-if="sendThroughputHistChartOptions != null"
        options-bind="::sendThroughputHistChartOptions">
      </line-chart>
    </div>
  </div>

  <div class="{{chartGridClass}}">
    <div class="metrics-wrapper">
      <metrics
        caption="{{receiveThroughputMetricsCaption}}"
        help="{{receiveThroughputMetricsDescription}}"
        value="{{currentMessageReceiveRate|metric}}" unit="msg/s"
        sub-text="Total: {{totalReceivedMessages|metric}}">
      </metrics>
    </div>
    <div ng-if="showCurrentMetrics">
      <line-chart
        options-bind="::receiveThroughputChartOptions"
        datasource-bind="receiveThroughputData">
      </line-chart>
    </div>
    <div ng-hide="showCurrentMetrics"
         class="metric-chart-placeholder">
      <line-chart
        ng-if="receiveThroughputHistChartOptions != null"
        options-bind="receiveThroughputHistChartOptions">
      </line-chart>
    </div>
  </div>

  <div class="{{chartGridClass}}">
    <div class="metrics-wrapper">
      <metrics
        caption="{{messageReceiveLatencyMetricsCaption}}"
        help="{{messageReceiveLatencyMetricsDescription}}"
        value="{{messageReceiveLatency|metric}}" unit="ms">
      </metrics>
    </div>
    <div ng-if="showCurrentMetrics">
      <line-chart
        options-bind="::messageReceiveLatencyChartOptions"
        datasource-bind="messageReceiveLatencyData">
      </line-chart>
    </div>
    <div ng-hide="showCurrentMetrics"
         class="metric-chart-placeholder">
      <line-chart
        ng-if="messageReceiveLatencyHistChartOptions != null"
        options-bind="messageReceiveLatencyHistChartOptions">
      </line-chart>
    </div>
  </div>

  <div ng-if="processor" class="{{chartGridClass}}">
    <div class="metrics-wrapper">
      <metrics
        caption="{{averageMesssageProcessingTimeMetricsCaption}}"
        help="{{averageMesssageProcessingTimeMetricsDescription}}"
        value="{{averageProcessingTime|metric}}" unit="ms">
      </metrics>
    </div>
    <div ng-if="showCurrentMetrics">
      <line-chart
        options-bind="::averageProcessingTimeChartOptions"
        datasource-bind="averageProcessingTimeData">
      </line-chart>
    </div>
    <div ng-hide="showCurrentMetrics"
         class="metric-chart-placeholder">
      <line-chart
        ng-if="averageProcessingTimeHistChartOptions != null"
        options-bind="averageProcessingTimeHistChartOptions">
      </line-chart>
    </div>
  </div>

</div>