<div class="row">
  <div class="col-md-12">
    <metrics-period-switcher
      past-hours="metricsConfig.retainHistoryDataHours"
      view-current="showCurrentMetrics">
    </metrics-period-switcher>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="metrics-wrapper">
      <metrics
        caption="{{sendThroughputMetricsCaption}}"
        help="{{sendThroughputMetricsDescription}}"
        value="{{currentMessageSendRate|number:0}}" unit="msg/s"
        sub-text="Total Sent: {{totalSentMessages|number}}">
      </metrics>
    </div>
    <div ng-if="showCurrentMetrics">
      <sparkline-chart
        options-bind="::sendThroughputChartOptions"
        datasource-bind="sendThroughputData">
      </sparkline-chart>
    </div>
    <div>
      <sparkline-chart
        ng-if="sendThroughputHistChartOptions != null"
        options-bind="sendThroughputHistChartOptions">
      </sparkline-chart>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="metrics-wrapper">
      <metrics
        caption="{{receiveThroughputMetricsCaption}}"
        help="{{receiveThroughputMetricsDescription}}"
        value="{{currentMessageReceiveRate|number:0}}" unit="msg/s"
        sub-text="Total Received: {{totalReceivedMessages|number}}">
      </metrics>
    </div>
    <div ng-if="showCurrentMetrics">
      <sparkline-chart
        options-bind="::receiveThroughputChartOptions"
        datasource-bind="receiveThroughputData">
      </sparkline-chart>
    </div>
    <div>
      <sparkline-chart
        ng-if="receiveThroughputHistChartOptions != null"
        options-bind="receiveThroughputHistChartOptions">
      </sparkline-chart>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="metrics-wrapper">
      <metrics
        caption="{{averageMesssageProcessingTimeMetricsCaption}}"
        help="{{averageMesssageProcessingTimeMetricsDescription}}"
        value="{{averageProcessingTime|number:3}}" unit="ms">
      </metrics>
    </div>
    <div ng-if="showCurrentMetrics">
      <sparkline-chart
        options-bind="::averageProcessingTimeChartOptions"
        datasource-bind="averageProcessingTimeData">
      </sparkline-chart>
    </div>
    <div>
      <sparkline-chart
        ng-if="averageProcessingTimeHistChartOptions != null"
        options-bind="averageProcessingTimeHistChartOptions">
      </sparkline-chart>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="metrics-wrapper">
      <metrics
        caption="{{averageMessageReceiveLatencyMetricsCaption}}"
        help="{{averageMessageReceiveLatencyMetricsDescription}}"
        value="{{averageMessageReceiveLatency|number:3}}" unit="ms">
      </metrics>
    </div>
    <div ng-if="showCurrentMetrics">
      <sparkline-chart
        caption="Average Message Receive Latency"
        current="{{averageMessageReceiveLatency|number:3}}" unit="ms"
        options-bind="::averageMessageReceiveLatencyChartOptions"
        datasource-bind="averageMessageReceiveLatencyData">
      </sparkline-chart>
    </div>
    <div>
      <sparkline-chart
        ng-if="averageMessageReceiveLatencyHistChartOptions != null"
        options-bind="averageMessageReceiveLatencyHistChartOptions">
      </sparkline-chart>
    </div>
  </div>

</div>