<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Site Properties -->
  <title>Dashboard</title>
  <meta name="description" content=""/>

  <!-- Static Resources -->
  <link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="webjars/angular-motion/0.3.3/angular-motion.min.css" rel="stylesheet"/>
  <link href="webjars/angular-ui-select/0.11.2/select.min.css" rel="stylesheet"/>
  <link href="webjars/visjs/3.12.0/vis.min.css" rel="stylesheet"/>
  <!-- TODO: Minimize as one for production server -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin">
  <link href="styles/bootstrap-override.css" rel="stylesheet"/>
  <link href="styles/bootstrap-doc.css" rel="stylesheet"/>
  <link href="styles/dashboard.css" rel="stylesheet"/>
</head>

<body ng-controller="DashboardCtrl">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Gearpump
        <span class="label label-primary">0.3.6</span></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="link in links track by $index" ng-class="{active:navClass(link.url)}">
          <a ng-href="{{link.url}}"><span ng-class="link.iconClass"></span>
            <span ng-bind="link.label"></span></a>
        </li>
        <!--
        <li>
          <a href="//gearpump.io" title="View official website">
            <span class="glyphicon glyphicon-book"></span>
            gearpump.io
          </a>
        </li>
        <li>
          <div>
          <iframe class="github" src="//ghbtns.com/github-btn.html?user=intel-hadoop&amp;repo=gearpump&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
        </div></li>-->
      </ul>
    </div>
  </div>
</nav>

<!-- Content -->
<div class="container-fluid">

  <!-- Breadcrumb as navigation -->
  <ol class="breadcrumb breadcrumb-sm">
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{active:$last}">
      <a ng-if="!$last" ng-href="#{{breadcrumb.path}}" ng-bind="breadcrumb.label"></a>
      <span ng-if="$last" ng-bind="breadcrumb.label"></span>
    </li>
  </ol>

  <!-- Main content -->
  <div class="container-fluid" id="main">
    <ng-view></ng-view>
  </div>

</div>

<!-- Footer -->
<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <span class="navbar-text">
      Project site <a href="//gearpump.io" target="_blank">gearpump.io</a>
    </span>
  </div>
</footer>

<!-- Static Resources -->
<script src="webjars/angularjs/1.3.15/angular.min.js"></script>
<script src="webjars/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="webjars/angularjs/1.3.15/angular-route.min.js"></script>
<script src="webjars/angular-strap/2.2.1/angular-strap.min.js"></script>
<script src="webjars/angular-strap/2.2.1/angular-strap.tpl.min.js"></script>
<script src="webjars/angular-ui-select/0.11.2/select.min.js"></script>
<script src="webjars/d3js/3.5.5/d3.min.js"></script>
<script src="webjars/momentjs/2.10.2/min/moment.min.js"></script>
<script src="webjars/smart-table/2.0.1/smart-table.min.js"></script>
<script src="webjars/visjs/3.12.0/vis.min.js"></script>
<script src="shared/vendors/echarts-mod/echarts-all.min.js"></script>
<script src="shared/vendors/ng-breadcrumbs/ng-breadcrumbs.min.js"></script>
<script src="shared/filters/readable.js"></script>
<script src="shared/directives/angular-future.js"></script>
<script src="shared/directives/echartfactory.js"></script>
<script src="shared/directives/echarts.js"></script>
<script src="shared/directives/explanationicon.js"></script>
<script src="shared/directives/metricscard.js"></script>
<script src="shared/directives/tabset.js"></script>
<script src="shared/directives/visgraph.js"></script>
<!-- TODO: Minimize as one for production server -->
<script src="views/dashboard.js"></script>
<script src="views/util.js"></script>
<script src="views/services/restapi.js"></script>
<script src="views/services/streamingservice.js"></script>
<script src="views/model/metrics.js"></script>
<script src="views/model/streamingdag.js"></script>
<script src="views/cluster/master.js"></script>
<script src="views/cluster/workers/workers.js"></script>
<script src="views/apps/apps.js"></script>
<script src="views/apps/app/appmaster.js"></script>
<script src="views/apps/app/appstatus.js"></script>
<script src="views/apps/app/appdag.js"></script>
<script src="views/apps/app/appprocessor.js"></script>
<script src="views/apps/app/appmetrics.js"></script>
<script src="views/apps/app/dagstyle.js"></script>

</body>
</html>