/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* bolder text */
.bold {
  font-weight: 500;
}

.actor-path {
  word-break: break-all;
}

/*
body {
  background-color: #f4f4f4;
}
*/

/* Translate the first letter of a angular-route-segment segment capitalized */
.breadcrumb > li {
  text-transform: capitalize;
}

/* ui-select input control should align with grid */
* [theme="select2"] {
  width: 100%;
}

/* Dashing default chart widgets does not have padding */
.metrics-wrapper {
  margin-top: 18px;
  margin-bottom: 6px;
}

/* For dashing widget "indicator" shape="stripe", need to remove parent element padding (2 rules) */
th.td-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 8px;
}

td.td-no-padding {
  padding: 0 !important;
}

/* Reset table and heading top margin/padding value */
h4, table > caption {
  padding-top: 0;
  margin-top: 0;
}

/* todo: experimental style for tooltip panel */
.tooltip-panel {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  background-color: #000;
  opacity: .75;
  color: #fff;
  padding: 5px 15px;
  cursor: default;
  border-radius: 2px;
}

/**
 * Animated loading arrows (3 rules)
 */
.rotate-animation {
  -animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

/* Help text */
.help-text {
  border-bottom: thin dotted;
}

/* Drop-box (3 rules) */
.dropbox {
  background: #f8f8f8;
  border: 4px dashed #ddd;
  text-align: center;
  padding: 10px;
}

.dropbox .glyphicon {
  font-size: 36px;
  color: #ddd;
  padding: 4px auto 12px auto;
}

.dropbox-dragover {
  border-color: #aaa;
}

/* Bootstrap 4: Button group or label outline (2 rules) */
.btn-group > button.btn-default-outline {
  border-color: #026fcc;
  color: #026bc5;
}

.btn-group > button.btn-primary-outline {
  background-color: #026fcc;
  color: #fff !important;
}

/* Add extra margin to heading text */
.btn-group-after-heading {
  margin-left: 16px;
}

/* Small badge for version label */
.navbar-brand > span {
  font-size: .6em;
  padding: 3px 6px;
  position: relative;
  top: -2px;
}

/* Empty table description (3 rules) */
.table-no-data {
  padding-bottom: 20px;
}

.table-no-data .glyphicon,
.table-no-data-sm .glyphicon {
  color: #bbb;
}

.table-no-data-sm .glyphicon {
  margin-right: 6px;
}
