<property-table
  caption="JVM Metrics"
  props-bind="jvmMetricsTable"
  prop-name-class="col-sm-4 col-xs-6 bold"
  prop-value-class="col-sm-8 col-xs-6 text-right">
</property-table>

<div class="row">
  <div class="col-md-12">
    <metrics-period-switcher
      past-hours="samplingConfig.retainHistoryDataHours"
      view-current="showCurrentMetrics">
    </metrics-period-switcher>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5>Memory Usage</h5>

    <div ng-if="showCurrentMetrics">
      <line-chart
        options-bind="::memoryRecentUsageChart.options"
        datasource-bind="memoryRecentUsageChart.data"></line-chart>
    </div>
    <div>
      <line-chart
        ng-if="memoryHistUsageChartOptions != null"
        options-bind="::memoryHistUsageChartOptions"></line-chart>
    </div>
  </div>
</div>