<div class="col-md-6">
  <property-table
    caption="Overview"
    caption-tooltip="Every cluster has one or more Master node. Master node is responsible to manage global resources of the cluster."
    props-bind="masterInfoTable"
    prop-name-class="col-sm-4 col-xs-6 bold"
    prop-value-class="col-sm-8 col-xs-6">
  </property-table>
</div>

<div class="col-md-6">
  <jvm-metrics-view
    sampling-config="metricsConfig"
    query-metrics-fn-ref="queryMetricsFnRef">
  </jvm-metrics-view>
</div>