<div class="row">
  <div class="col-md-2" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
      <ul class="nav bs-docs-sidenav">
        <li class="active"><a href="#/cluster/master">Master</a></li>
        <li><a href="#/cluster/workers">Workers</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-10" role="main">

<h4>Master Information</h4>

<table class="table table-striped table-hover table-two-column">
  <caption></caption>
  <tbody>
  <tr>
    <td class="col-md-4">Leader</td>
    <td class="col-md-8"><span ng-bind="master.leader"></span></td>
  </tr>
  <tr>
    <td>Cluster Members</td>
    <td><div ng-repeat="cluster in master.clusters track by $index" ng-bind="cluster"></div>
    </td>
  </tr>
  <tr>
    <td>Status</td>
    <td>
      <span ng-class="statusClass(master.masterStatus, 'label-success', 'label-danger')"
            class="label" ng-bind="master.masterStatus"></span>
    </td>
  </tr>
  <tr>
    <td>Up Time</td>
    <td><span ng-bind="master.aliveFor"></span></td>
  </tr>
  <tr>
    <td>Configuration</td>
    <td><a class="small" href="{{master.configLink}}" target="_blank">Download</a></td>
  </tr>
  <tr>
    <td>Home Dir.</td>
    <td><span class="small" ng-bind="master.homeDir"></span></td>
  </tr>
  <tr>
    <td>Log Dir.</td>
    <td><span class="small" ng-bind="master.logDir"></span></td>
  </tr>
  <tr>
    <td>JAR Store Dir.</td>
    <td><span class="small" ng-bind="master.jarStore"></span></td>
  </tr>
  </tbody>
</table>
</div>
</div>

