<div class="modal" tabindex="-1">
  <div class="modal-md col-md-5 col-md-offset-3">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">
          <span>&times;</span></button>
        <h4 ng-bind="dialogTitle"></h4>
      </div>
      <div class="modal-body">
        <p style="padding-top: 4px; padding-bottom: 14px;">Application will be launched immediately,
          after the JAR file is uploaded.</p>

        <div ng-show="shouldNoticeSubmitFailed">
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    ng-click="shouldNoticeSubmitFailed=false">
              <span aria-hidden="true">&times;</span>
            </button>
            Failed to submit the application.
            <span ng-if="error">
              Check out the
              <span class="help-text"
                 bs-tooltip="error" html="true" placement="bottom"
                 ng-click="showErrorInNewWin()">reason
                <i ng-if="hasStackTrace"
                   class="fa fa-external-link"></i></span>.
            </span>
          </div>
        </div>

        <form name="form" class="form-horizontal">
          <!-- right margin align to cancel button right -->
          <div style="margin-bottom: 18px">
            <!-- input 1 -->
            <form-control
              type="upload" label="Application JAR" required="true" autofocus="true"
              ng-model="jar" accept-pattern=".jar"></form-control>
            <!-- input 2 -->
            <form-control
              type="upload" label="Config File"
              ng-model="conf" accept-pattern="{{confFileSuffix}}"></form-control>
            <!-- input 3 -->
            <form-control
              type="integer" min="1" label="Executor Count" ng-hide="isStormApp"
              help="How many JVM processes to start for this job in the whole cluster. E.g. set it as 12 will start 12 executor processes spanning across the cluster"
              ng-model="executorNum"></form-control>
            <!-- input 4 -->
            <form-control
              type="text" label="Arguments"
              help="Application specific launch arguments (optional). E.g. WordCount can use &quot;-split 2 -sum 1&quot;"
              ng-model="launchArgs"></form-control>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm"
                ng-disabled="!canSubmit()" ng-click="submit()">
          <span ng-show="uploading"
                class="glyphicon glyphicon-repeat rotate-animation"></span>
          Submit
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="$hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>