<div class="row">
  <table ng-table="tableParams" class="table table-striped-inverse">
    <caption><h4>Registered Workers</h4></caption>
    <tr ng-repeat="worker in $data track by $index">
      <td header-class="ng-table-header-cell" data-title="'ID'">{{worker.id}}</td>
      <td header-class="ng-table-header-cell" data-title="'Actor Path'">{{worker.actorPath}}</td>
      <td header-class="ng-table-header-cell" data-title="'State'">
        <p style="vertical-align:middle">
          <span ng-class="worker.state=='active'?'label-success':'label-warning'" class="label">{{worker.state}}</span></td>
        </p>
      <td header-class="ng-table-header-cell" data-title="'Slots'" style="vertical-align:middle;width:110px">
        <p class="text-center nowrap-small-text" style="padding:0 0 3px;margin:0;">
          {{worker.slotsTaken}} / {{worker.slotsTotal}}</p>
        <div class="progress" style="padding:0;margin:0;height:3px">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{worker.slotUsage}}" aria-valuemin="0"
               aria-valuemax="100" style="min-width:2em;width:{{worker.slotUsage}}%">
          </div>
        </div>
        <p ng-if="worker.executors.length > 0" class="text-center nowrap-small-text"
           style="padding:5x 0;margin:0;">
              {{worker.executors.length}} executors</p>
      </td>
      <td header-class="ng-table-header-cell" data-title="'Alive For'">
        <p style="veritcal-align:middle">
          {{worker.aliveFor|readableTime}}</p>
      </td>
      <td header-class="ng-table-header-cell" data-title="'Home Directory'">{{worker.homeDir}}</td>
      <td header-class="ng-table-header-cell" data-title="'Log File'">{{worker.logFile}}</td>
    </tr>
  </table>
</div>