<div class="col-md-12" style="padding-bottom:12px">
  <metrics-card
    m-title="Application clock"
    m-explanation=""
    m-value="{{app.clock|date:'HH:mm:ss'}}"
    m-unit="{{app.clock|date:'yyyy/MM/dd'}}"/>
</div>

<!-- left half -->
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">Graph: {{app.name}}</div>
    <div class="panel-body">
      <div ng-if="visgraph">
        <visnetwork data="visgraph.data" options="visgraph.options" events="visgraph.events"/>
      </div>
    </div>
  </div>
</div>
<!-- end of left half -->

<!-- right half -->
<div class="col-md-3">
  <div class="row">
    <div class="col-md-12">
      <metrics-card
        m-title="Total Input Messages"
        m-explanation=""
        m-value="{{receivedMessages.total|humanize}}"
        m-unit="messages"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        m-title="Total Output Messages"
        m-explanation=""
        m-value="{{sentMessages.total|humanize}}"
        m-unit="messages"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        m-title="Input Message Rate"
        m-explanation="Input message receive rate"
        m-value="{{receivedMessages.rate|number:0}}"
        m-unit="message/s"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        m-title="Output Message Rate"
        m-explanation="Output message send rate"
        m-value="{{sentMessages.rate|number:0}}"
        m-unit="message/s"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        m-title="Avg. Processing Time per Task"
        m-explanation="Average message processing time per task"
        m-value="{{processingTime|number:2}}"
        m-unit="ms"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        m-title="Avg. Receive Latency per Task"
        m-explanation="Average message receive latency per task"
        m-value="{{receiveLatency|number:2}}"
        m-unit="ms"/>
    </div>
  </div>
</div>
<!-- end of right half -->

