<div class="col-md-12" style="padding-bottom:12px">
  <metrics-card
    heading="Application clock"
    explanation=""
    value="{{app.clock|date:'HH:mm:ss'}}"
    unit="{{app.clock|date:'yyyy/MM/dd'}}"/>
</div>

<!-- left half -->
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">Graph: {{app.appName}}</div>
    <div class="panel-body">
      <div ng-if="visgraph">
        <visnetwork data="visgraph.data" options="visgraph.options" events="visgraph.events"/>
      </div>
    </div>
  </div>
</div>
<!-- end of left half -->

<!-- right half -->
<div class="col-md-3">
  <div class="row">
    <div class="col-md-12">
      <metrics-card
        heading="Sink Processors Total Received Messages"
        explanation=""
        value="{{receivedMessages.total|humanize}}"
        unit="messages"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        heading="Source Processors Total Sent Messages"
        explanation=""
        value="{{sentMessages.total|humanize}}"
        unit="messages"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        heading="Sink Processors Receive Throughput"
        explanation="Message receive throughput of sink processors"
        value="{{receivedMessages.rate|number:0}}"
        unit="message/s"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        heading="Source Processors Send Throughput"
        explanation="Message send throughput of source processors"
        value="{{sentMessages.rate|number:0}}"
        unit="message/s"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        heading="Avg. Processing Time per Task"
        explanation="Average message processing time per task"
        value="{{processingTime[0]|number:2}}"
        unit="ms"/>
    </div>
    <div class="col-md-12">
      <metrics-card
        heading="Avg. Receive Latency per Task"
        explanation="Average message receive latency per task"
        value="{{receiveLatency[0]|number:2}}"
        unit="ms"/>
    </div>
  </div>
</div>
<!-- end of right half -->

