<div class="col-md-6">
  <h4>Send Throughput <small>(events/second)</small></h4>
  <table class="table table-striped table-hover table-condensed table-xs">
    <thead>
    <tr>
      <th class="text-right">Processor</th>
      <th class="text-right">Task Class</th>
      <th class="text-right">Task</th>
      <th class="text-right">Count</th>
      <th class="text-right">Mean Rate</th>
      <th class="text-right">MA 1m</th>
      <th class="text-right">MA 5m</th>
      <th class="text-right">MA 15m</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(_, m) in streamingDag.meter.sendThroughput">
      <td class="text-right"><span ng-bind="m.processorId"></span></td>
      <td class="text-right"><span ng-bind="m.taskClass|lpart"></span></td>
      <td class="text-right"><span ng-bind="m.taskId"></span></td>
      <td class="text-right"><span ng-bind="m.count"></span></td>
      <td class="text-right"><span ng-bind="m.meanRate|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.movingAverage1m|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.movingAverage5m|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.movingAverage15m|number:1"></span></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-md-6">
  <h4>Receive Throughput <small>(events/second)</small></h4>
  <table class="table table-striped table-hover table-condensed table-xs">
    <thead>
    <tr>
      <th class="text-right">Processor</th>
      <th class="text-right">Task Class</th>
      <th class="text-right">Task</th>
      <th class="text-right">Count</th>
      <th class="text-right">Mean Rate</th>
      <th class="text-right">MA 1m</th>
      <th class="text-right">MA 5m</th>
      <th class="text-right">MA 15m</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(_, m) in streamingDag.meter.receiveThroughput">
      <td class="text-right"><span ng-bind="m.processorId"></span></td>
      <td class="text-right"><span ng-bind="m.taskClass|lpart"></span></td>
      <td class="text-right"><span ng-bind="m.taskId"></span></td>
      <td class="text-right"><span ng-bind="m.count"></span></td>
      <td class="text-right"><span ng-bind="m.meanRate|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.movingAverage1m|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.movingAverage5m|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.movingAverage15m|number:1"></span></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-md-6">
  <h4>Process Time <small>(ms)</small></h4>
  <table class="table table-striped table-hover table-condensed table-xs">
    <thead>
    <tr>
      <th class="text-right">Processor</th>
      <th class="text-right">Task Class</th>
      <th class="text-right">Task</th>
      <th class="text-right">Count</th>
      <th class="text-right">Min</th>
      <th class="text-right">Max</th>
      <th class="text-right">Mean</th>
      <th class="text-right">Std. Dev.</th>
      <th class="text-right">Median</th>
      <th class="text-right">p95%</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(_, m) in streamingDag.histogram.processTime">
      <td class="text-right"><span ng-bind="m.processorId"></span></td>
      <td class="text-right"><span ng-bind="m.taskClass|lpart"></span></td>
      <td class="text-right"><span ng-bind="m.taskId"></span></td>
      <td class="text-right"><span ng-bind="m.count"></span></td>
      <td class="text-right"><span ng-bind="m.minimum"></span></td>
      <td class="text-right"><span ng-bind="m.maximum"></span></td>
      <td class="text-right"><span ng-bind="m.mean|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.stddev|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.median|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.p95|number:1"></span></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-md-6">
  <h4>Receive Latency <small>(ms)</small></h4>
  <table class="table table-striped table-hover table-condensed table-xs">
    <thead>
    <tr>
      <th class="text-right">Processor</th>
      <th class="text-right">Task Class</th>
      <th class="text-right">Task</th>
      <th class="text-right">Count</th>
      <th class="text-right">Min</th>
      <th class="text-right">Max</th>
      <th class="text-right">Mean</th>
      <th class="text-right">Std. Dev.</th>
      <th class="text-right">Median</th>
      <th class="text-right">p95%</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(_, m) in streamingDag.histogram.receiveLatency">
      <td class="text-right"><span ng-bind="m.processorId"></span></td>
      <td class="text-right"><span ng-bind="m.taskClass|lpart"></span></td>
      <td class="text-right"><span ng-bind="m.taskId"></span></td>
      <td class="text-right"><span ng-bind="m.count"></span></td>
      <td class="text-right"><span ng-bind="m.minimum"></span></td>
      <td class="text-right"><span ng-bind="m.maximum"></span></td>
      <td class="text-right"><span ng-bind="m.mean|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.stddev|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.median|number:1"></span></td>
      <td class="text-right"><span ng-bind="m.p95|number:1"></span></td>
    </tr>
    </tbody>
  </table>
</div>