<div class="col-md-12">
  <ui-select ng-model="names.selected" ng-disabled="disabled"
             style="width:300px;margin-bottom:20px">
    <ui-select-match>{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="name in names.available">
      <span ng-bind="name | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>
</div>

<div class="col-md-12">
  <table ng-if="isMeter()"
         class="table table-striped table-hover table-condensed table-xs"
         st-table="instance" st-safe-src="metrics">
    <thead>
    <tr>
      <th class="col-md-1" st-sort="taskClass" st-skip-natural="true">Task Class</th>
      <th class="col-md-3" st-sort="processorId+'.'+taskId" st-sort-default="true"
          st-skip-natural="true">Task ID</th>
      <th class="col-md-1 text-right" st-sort="metric.count" st-skip-natural="true">Sampling Points1</th>
      <th class="col-md-1 text-right" st-sort="metric.meanRate" st-skip-natural="true">Mean Rate</th>
      <th class="col-md-1 text-right" st-sort="metric.m1" st-skip-natural="true">MA 1m
        <explanation-icon value="1-minute moving average"/>
      </th>
      <th class="col-md-1 text-right" st-sort="metric.m5" st-skip-natural="true">MA 5m
        <explanation-icon value="5-minute moving average"/>
      </th>
      <th class="col-md-1 text-right" st-sort="metric.m15" st-skip-natural="true">MA 15m
        <explanation-icon value="15-minute moving average"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in instance">
      <td><span ng-bind="lastPart(m.taskClass)"></span></td>
      <td><span ng-bind="taskName(m)"></span></td>
      <td class="text-right"><span ng-bind="m.metric.count"></span></td>
      <td class="text-right"><span ng-bind="m.metric.meanRate|number:1"></span> msgs/s</td>
      <td class="text-right"><span ng-bind="m.metric.m1|number:0"></span> msgs/s</td>
      <td class="text-right"><span ng-bind="m.metric.m5|number:0"></span> msgs/s</td>
      <td class="text-right"><span ng-bind="m.metric.m15|number:0"></span> msgs/s</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="100%" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage"
             st-template="shared/directives/smarttable-pagination.html"></div>
      </td>
    </tr>
    </tfoot>
  </table>

  <table ng-if="!isMeter()"
         class="table table-striped table-hover table-condensed table-xs"
         st-table="instance" st-safe-src="metrics">
    <thead>
    <tr>
      <th class="col-md-1" st-sort="taskClass" st-skip-natural="true">Task Class</th>
      <th class="col-md-1" st-sort="processorId+'.'+taskId" st-sort-default="true"
          st-skip-natural="true">Task ID</th>
      <th class="col-md-1 text-right" st-sort="metric.count" st-skip-natural="true">Sampling Points</th>
      <th class="col-md-1 text-right" st-sort="metric.min" st-skip-natural="true">Min</th>
      <th class="col-md-1 text-right" st-sort="metric.max" st-skip-natural="true">Max</th>
      <th class="col-md-1 text-right" st-sort="metric.mean" st-skip-natural="true">Mean Rate</th>
      <th class="col-md-1 text-right" st-sort="metric.stddev" st-skip-natural="true">Std. Dev.</th>
      <th class="col-md-1 text-right" st-sort="metric.median" st-skip-natural="true">Median</th>
      <th class="col-md-1 text-right" st-sort="metric.p95" st-skip-natural="true">p95%
        <explanation-icon value="95th percentage"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in instance">
      <td><span ng-bind="lastPart(m.taskClass)"></span></td>
      <td><span ng-bind="taskName(m)"></span></td>
      <td class="text-right"><span ng-bind="m.metric.count"></span></td>
      <td class="text-right"><span ng-bind="m.metric.min"></span> ms</td>
      <td class="text-right"><span ng-bind="m.metric.max"></span> ms</td>
      <td class="text-right"><span ng-bind="m.metric.mean|number:2"></span> ms</td>
      <td class="text-right"><span ng-bind="m.metric.stddev|number:2"></span> ms</td>
      <td class="text-right"><span ng-bind="m.metric.median"></span> ms</td>
      <td class="text-right"><span ng-bind="m.metric.p95"></span> ms</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="100%" class="text-center">
        <div st-pagination st-items-by-page="itemsByPage"
             st-template="shared/directives/smarttable-pagination.html"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>