<div class="panel panel-default">
  <div class="panel-heading">Receive Message Rate (msg/s)</div>
  <div class="panel-body">
    <linechart1 options="receiveMessageRateChart.options" data="receiveMessageRateChart.data"/>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Send Message Rate (msg/s)</div>
  <div class="panel-body">
    <linechart1 options="sendMessageRateChart.options" data="sendMessageRateChart.data"/>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Average Processing Time (ms)
    <i></i></div>
  <div class="panel-body">
    <linechart1 options="processingTimeChart.options" data="processingTimeChart.data"/>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Average Receive Latency (ms)</div>
  <div class="panel-body">
    <linechart1 options="receiveLatencyChart.options" data="receiveLatencyChart.data"/>
  </div>
</div>