<div ng-if="!activeProcessorId" class="bs-callout bs-callout-default">
  <p>Please switch to DAG tab and double click a node first.</p>
</div>

<div class="row" ng-if="activeProcessorId">

  <!-- left half -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <h6>PROCESSOR #{{activeProcessorId}}</h6>
        <h4>{{lastPart(processor.taskClass)}}
          <small class="glyphicon glyphicon-question-sign metrics-explanation" title="{{processor.taskClass}}"></small>
        </h4>
        <h5>{{processor.description}}</h5>
        <table>
          <tbody>
          <tr>
            <td style="padding: 1px 8px 1px 8px">Parallelism</td>
            <td><span style="font-weight:500" ng-bind="processor.parallelism"></span></td>
          </tr>
          <tr>
            <td style="padding: 1px 8px 1px 8px">Inputs</td>
            <td><span style="font-weight:500" ng-bind="processorConnections.inputs"></span></td>
          </tr>
          <tr>
            <td style="padding: 1px 8px 1px 8px">Outputs</td>
            <td><span style="font-weight:500" ng-bind="processorConnections.outputs"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h6>SKEW: RECEIVE THROUGHPUT</h6>
        <barchart options="receiveSkewChart.options" data="receiveSkewChart.data"/>
      </div>
      <div class="col-md-12">
        <h6>EXECUTORS</h6>
        <table class="table table-striped table-hover table-condensed table-xs">
          <thead>
          <tr>
            <th class="text-right">ID</th>
            <th>ActorPath</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="id in streamingDag.executorKeys">
            <td class="text-right"><span ng-bind="id"></span></td>
            <td><span ng-bind="streamingDag.executors[id]"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end of left half -->

  <!-- right half -->
  <div class="col-md-6">
    <h5>Task Selector</h5>
    <ui-select multiple ng-model="tasks.selected" ng-disabled="disabled">
      <ui-select-match placeholder="Select tasks...">{{$item}}</ui-select-match>
      <ui-select-choices repeat="task in tasks.available | filter:$select.search">
        {{task}}
      </ui-select-choices>
    </ui-select>

    <div ng-if="tasks.selected.length>0">
      <br/>
      <div ng-include src="'views/apps/app/appprocessorcharts.html?'+tasks.selected.length"
           ng-controller="AppProcessorChartsCtrl"></div>
    </div>
  </div>
  <!-- end of right half -->

</div>
