<div class="row">

  <!-- left half -->
  <div class="col-md-4">

    <h4>Status Summary</h4>
    <table class="table table-striped table-hover table-two-column">
      <tbody>
      <tr ng-repeat="item in summary track by $index">
        <td class="col-xs-3"><span ng-bind="item.name"></span></td>
        <td class="col-xs-9"><span ng-bind="item.value" ng-class="item.clazz"></span></td>
      </tr>
      <tr>
        <td class="col-xs-3">Quick Links</td>
        <td class="col-xs-9"><a href="{{link.config}}" target="_blank">Configuration</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- end of left half -->

  <!-- right half -->
  <div class="col-md-8" ng-controller="AppSummaryChartsCtrl">

    <h4>Charts</h4>
    <div class="row">
      <div class="col-md-6" ng-repeat="chart in charts">
        <div class="panel panel-default">
          <div class="panel-heading">{{chart.title}}</div>
          <div class="panel-body">
            <div linechart options="chart.options" data="chart.data"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of right half -->

</div>