@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(Lato-Regular.eot);
  src: local('Lato Regular'), local('Lato-Regular'), local('Lato'), url(Lato-Regular.ttf) format('truetype'), url(Lato-Regular.svg#Lato) format('svg'), url(Lato-Regular.woff) format('woff'), url(Lato-Regular.woff2) format('woff2'), url(Lato-Regular.eot?#iefix) format('embedded-opentype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(Lato-Bold.ttf) format('truetype'), url(Lato-Bold.woff) format('woff'), url(Lato-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(Lato-Italic.ttf) format('truetype'), url(Lato-Italic.woff) format('woff'), url(Lato-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(Lato-Bold-Italic.ttf) format('truetype'), url(Lato-Bold-Italic.woff) format('woff'), url(Lato-Bold-Italic.woff2) format('woff2');
}