<h4>Applications</h4>

<div ng-if="apps.length===0" class="bs-callout bs-callout-default">
  <p>No running or completed applications found</p>
</div>

<table ng-if="apps.length>0" st-table="ng" st-safe-src="apps"
       class="table table-striped table-hover">
  <caption></caption>
  <thead>
  <tr>
    <th st-sort="appId" st-sort-default="reverse">ID</th>
    <th st-sort="status">Status</th>
    <th st-sort="name">Name</th>
    <th st-sort="submissionTime">Submission Time</th>
    <th st-sort="startTime">Start Time</th>
    <th st-sort="finishTime">Finish Time</th>
    <th st-sort="user">User</th>
    <th st-sort="appMasterPath">Path</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="app in ng">
    <td><span ng-bind="app.appId"></span></td>
    <td><span ng-bind="app.status" class="label"
              ng-class="{'label-success': active(app), 'label-default': !active(app)}"></span></td>
    <td><span ng-bind="app.appName"></span></td>
    <td><span ng-bind="stringToDateTime(app.submissionTime)"></span></td>
    <td><span ng-bind="stringToDateTime(app.startTime)"></span></td>
    <td><span ng-bind="stringToDateTime(app.finishTime)"></span></td>
    <td><span ng-bind="app.user"></span></td>
    <td><span ng-bind="app.appMasterPath"></span></td>
    <td class="text-right text-nowrap">
        <button ng-click="view(app.appId)" ng-if="active(app)"
                type="button" class="btn btn-primary btn-xs media-middle vert-align">View Details
        </button>
        <button ng-click="kill(app.appId)" ng-if="active(app)"
                type="button" class="btn btn-default btn-xs media-middle vert-align">Kill
        </button>
    </td>
  </tr>
  </tbody>
  <!--
  <tfoot>
  <tr>
    <td colspan="4" class="text-center">
      <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
    </td>
  </tr>
  </tfoot>-->
</table>
