<div class="col-md-12">
  <!-- control toolbar -->
  <div class="row">
    <div class="col-md-6">
      <span class="table-caption-ext pull-left">Applications</span>
      <span class="btn btn-primary btn-xs pull-left"
            style="margin-left: 6px; color: white"
            ng-click="openSubmitDialog()">Submit +</span>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3 hidden-sm hidden-xs pull-right">
      <searchbox ng-model="search" placeholder="Search Anything"></searchbox>
    </div>
  </div>
  <!-- end of control toolbar -->
</div>

<div class="col-md-12">
  <sortable-table
    columns-bind="appsTable.cols"
    records-bind="appsTable.rows"
    search-bind="search"
    pagination="10">
  </sortable-table>
</div>