<div class="modal" tabindex="-1" ng-controller="AppSubmitCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" ng-click="$hide()">
          <span>&times;</span></button>
        <h4>Submit Application</h4>

        <div ng-show="shouldNoticeSubmitFailed">
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    ng-click="shouldNoticeSubmitFailed=false">
              <span aria-hidden="true">&times;</span></button>
            Failed to submit the application. Please try it again.
          </div>
        </div>

        <p style="padding:14px 0">
          Are you sure to submit the self contained jar application and launch it immediately?</p>

        <form class="form-horizontal">
          <div class="form-group" style="padding-left:12px">
            <div class="form-group-compact-h">
              <div class="col-sm-3">
                <label for="opt1" class="control-label">Application File</label>
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control input-sm" id="opt1" readonly
                       ng-value="filenames.jar" />
              </div>
              <div>
                <button type="button" class="btn btn-primary btn-sm"
                        ngf-select ng-model="jar" ngf-accept="'.jar'">
                  <span class="glyphicon glyphicon-folder-open"></span>
                </button>
                <button type="button" class="btn btn-sm"
                        ng-disabled="!filenames.jar" ng-click="clear('jar')">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </div>
            <div class="form-group-compact-h">
              <div class="col-sm-3">
                <label for="opt2" class="control-label">Config File</label>
                <explanation-icon value="Optional to provide a config file to override default behaviors"/>
                </explanation-icon>
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control input-sm" id="opt2" readonly
                       ng-value="filenames.conf" />
              </div>
              <div>
                <button type="button" class="btn btn-sm"
                        ngf-select ng-model="conf" ngf-accept="'.conf'">
                  <span class="glyphicon glyphicon-folder-open"></span>
                </button>
                <button type="button" class="btn btn-sm"
                        ng-disabled="!filenames.conf" ng-click="clear('conf')">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </div>
            <div class="form-group-compact-h">
              <div class="col-sm-3">
                <label for="opt3" class="control-label">Launch Args</label>
                <explanation-icon value="Optional to provide arguments for launching the application. E.g. for WordCount example &quot;-split 2 -sum 1&quot;"/>
                </explanation-icon>
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control input-sm" id="opt3" ng-model="extraArgs"/>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm"
                ng-disabled="!canSubmit()" ng-click="submit()">
          <span ng-show="uploading"
                class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;
          Submit
        </button>
      </div>
    </div>
  </div>
</div>