/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.ui-datepicker {
  font-size: 11px;
}

.sidebar-label {
  font-size: 15px;
  font-family: calibri, Arial, Helvetica, sans-serif;
}

.help {
  font-size: 12px;
  font-family: calibri, Arial, Helvetica, sans-serif;
}

div.splitter {
  margin: 12px 0px 7px 0px;
  clear: both;
  border-top: 1px solid #EBEBEB;
}

input.sidebar {
  width: 165px
}

select.sidebar {
  width: 198px
}

table.dataintable {
  font-family: calibri, Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 10px;
  border-collapse: collapse;
  border: 1px solid #888;
}

table.dataintable th {
  vertical-align: baseline;
  padding: 5px 15px 5px 5px;
  background-color: #EEE;
  border: 1px solid #888;
  text-align: left;
}

table.dataintable td {
  vertical-align: text-top;
  padding: 5px 15px 5px 5px;
  background-color: #FFFFFF;
  border: 1px solid #AAA;
}

#search {
  width: 100px;
  height: 25px;
  position: relative;
  left: 0px;
  top: 5px;
}

#mytable {
  width: 100%;
  height: 300;
  float: left;
}

#mychart {
  height: 400px;
  width: 100%;
}

#Menu {
  height: 100%;
  width: 245px;
  float: left;
}

#header {
  height: 115px;
  background-image: url(header.png);
}

#body {
  height: 100%;
  width: 100%;
  background-image: url(body.png);
  background-size: 100% 100%;
}

#footer {
  color: white;
  height: 70px;
  line-height: 70px;
  text-align: middle;
  clear: both;
  text-align: center;
  background-image: url(foot.png);
}